---
layout: base.njk
title: "Acerca"
order: 1
showTitle: false
extraCss:
    - "/static/css/acerca.css"
    - "/static/css/carousel.css"
extraJs:
    - "/static/js/carousel.js"
    - "/static/js/acerca.js"
---

<div id="carousel-3" class="carousel" role="region" aria-labelledby="carousel-3-title">
    <div class="slide" role="tabpanel" aria-labelledby="carousel-3-slide-1-title">
        <div class="slide-content">
            <div class="slide-caption">
                <h3 id="carousel-3-slide-1-title">2017, ?????</h3>
            </div>
            <img
                src="https://source.unsplash.com/random/1600x700/?chile"
                alt="Foto grupal del campamento 2017"
                width="800"
                height="350"/>
        </div>
    </div>
    <div class="slide" role="tabpanel" aria-labelledby="carousel-3-slide-2-title">
        <div class="slide-content">
            <div class="slide-caption">
                <h3 id="carousel-3-slide-2-title">2018, Santiago</h3>
            </div>
            <img
                src="https://source.unsplash.com/random/1600x700/?santiago"
                alt="Foto grupal del campamento 2018"
                width="800"
                height="350"/>
        </div>
    </div>
    <div class="slide" role="tabpanel" aria-labelledby="carousel-3-slide-3-title">
        <div class="slide-content">
            <div class="slide-caption">
                <h3 id="carousel-3-slide-3-title">2019, Valdivia</h3>
            </div>
            <img
                src="https://source.unsplash.com/random/1600x700/?valdivia"
                alt="Foto grupal del campamento 2019"
                width="800"
                height="350"/>
        </div>
    </div>
    <div class="slide" role="tabpanel" aria-labelledby="carousel-3-slide-4-title">
        <div class="slide-content">
            <div class="slide-caption">
                <h3 id="carousel-3-slide-4-title">2023, Valparaíso</h3>
            </div>
            <img
                src="https://source.unsplash.com/random/1600x700/?valparaiso"
                alt="Foto grupal del campamento 2023"
                width="800"
                height="350"/>
        </div>
    </div>
</div>
<p id="cipc-description">
    El Campamento Invernal de Programación Competitiva es una instancia para aprender técnicas de algoritmos y estructuras
    de datos aplicados a Programación Competitiva y poder llevarlos a la práctica resolviendo desafiantes competencias de
    programación. Consiste en tres tipos de actividades: clases expositivas de temas avanzados, talleres de programación
    simulando competencias reales, y sesiones de discusión.
</p>