---
layout: base.njk
title: "Calendario"
subtitle: "Itinerario de actividades, sujeto a cambios."
order: 3
extraCss:
    - "/static/css/calendario.css"
---

<table>
    <colgroup>
        <col/>
        <col/>
        <col/>
        <col class="break"/>
        <col/>
        <col class="contest"/>
        <col/>
    </colgroup>
    <thead>
        <tr>
            <th class="phantom"></th>
            <th class="phantom"></th>
            <th>09:00 - 10:45</th>
            <th>10:45 - 11:00</th>
            <th>11:00 - 12:45</th>
            <th>12:45 - 13:30</th>
            <th>13:30 - 18:30</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Día 1</th>
            <th>22 julio</th>
            <td>Introducción</td>
            <td>Recreo</td>
            <td>C++ y EDD en C++</td>
            <td>Almuerzo</td>
            <td>Contest</td>
        </tr>
        <tr>
            <th>Día 2</th>
            <th>23 julio</th>
            <td>Búsqueda Binaria + Two Pointers</td>
            <td>Recreo</td>
            <td>Paradigmas de Programación</td>
            <td>Almuerzo</td>
            <td>Contest</td>
        </tr>
        <tr>
            <th>Día 3</th>
            <th>24 julio</th>
            <td>Grafos I</td>
            <td>Recreo</td>
            <td>Grafos I</td>
            <td>Almuerzo</td>
            <td>Contest</td>
        </tr>
        <tr>
            <th>Día 4</th>
            <th>25 julio</th>
            <td>Programación Dinámica</td>
            <td>Recreo</td>
            <td>Programación Dinámica</td>
            <td>Almuerzo</td>
            <td>Contest</td>
        </tr>
        <tr>
            <th>Día 5</th>
            <th>26 julio</th>
            <td>Profundización de Conocimientos</td>
            <td>Recreo</td>
            <td>Profundización de Conocimientos</td>
            <td>Almuerzo</td>
            <td>Contest</td>
        </tr>
        <tr>
            <th>Día 6</th>
            <th>27 julio</th>
            <td class="cell-centered" rowspan="2" colspan="5">DESCANSO</td>
        </tr>
        <tr>
            <th>Día 7</th>
            <th>28 julio</th>
        </tr>
        <tr>
            <th>Día 8</th>
            <th>29 julio</th>
            <td>Segment Tree</td>
            <td>Recreo</td>
            <td>Segment Tree Lazy</td>
            <td>Almuerzo</td>
            <td>Contest</td>
        </tr>
        <tr>
            <th>Día 9</th>
            <th>30 julio</th>
            <td>Strings</td>
            <td>Recreo</td>
            <td>Strings</td>
            <td>Almuerzo</td>
            <td>Contest</td>
        </tr>
        <tr>
            <th>Día 10</th>
            <th>31 julio</th>
            <td>Grafos II </td>
            <td>Recreo</td>
            <td>Matemática</td>
            <td>Almuerzo</td>
            <td>Contest</td>
        </tr>
        <tr>
            <th>Día 11</th>
            <th>1 agosto</th>
            <td>Upsolving</td>
            <td>Recreo</td>
            <td>Upsolving</td>
            <td>Almuerzo</td>
            <td>Contest</td>
        </tr>
        <tr>
            <th>Día 12</th>
            <th>2 agosto</th>
            <td>Cierre</td>
            <td>Recreo</td>
            <td>Cierre</td>
            <td>Almuerzo</td>
            <td>Final</td>
        </tr>
    </tbody>
</table>