---
layout: base.njk
title: "Inicio"
showTitle: false
order: 1
---

<p>
    El Campamento Invernal de Programación Competitiva es una instancia para aprender técnicas de algoritmos y estructuras
    de datos aplicados a Programación Competitiva y poder llevarlos a la práctica resolviendo desafiantes competencias de
    programación. Consiste en tres tipos de actividades: clases expositivas de temas avanzados, talleres de programación
    simulando competencias reales, y sesiones de discusión.
</p>