---
title: "CIPC 2024"
order: 0
hideTitle: true
extraCss:
    - "/static/css/index.css"
extraJs:
    - "/static/js/index.js"
---

<!-- We can't use Nunjucks blocks with Eleventy layouts, so we need to remove the layout from the front matter and add use Nunjuck extends -->
{% extends 'base.njk' %}
{% block main %}
    <img id="hero-img" src="/static/img/UdeC2.jpg" alt="Campanil de la Universidad de Concepción"/>
    <div id="hero-center">
        <div id="hero-title">
            <h1 id="typewriter"></h1>
            <h1 class="invisible">Campamento Invernal de Programación Competitiva en Chile</h1>
        </div>
        <h2>22 de Julio - 2 de Agosto, Universidad de Concepción</h2>
        <a href="" id="btn-sign">Inscripciones cerradas</a>
        <h4>Si aún quieres inscribirte envía un correo a campamento@progcomp.cl</h4>
    </div>
    <h4>Patrocinan</h4>
    <div id="hero-bottom">
        <div id="sponsor-logos">
            <a class="sponsor-gold" href="https://www.cl.nttdata.com/"><img id="logo-ntt-data" src="/static/img/sponsors/ntt-data.png"/></a>
            <a href="https://www.tcs.com/"><img id="logo-tcs" src="/static/img/sponsors/tcs.png"/></a>
            <a href="https://www.nic.cl/"><img id="logo-nic" src="/static/img/sponsors/nic-chile.png"/></a>
            <a href="https://www.synopsys.com/"><img id="logo-synopsys" src="/static/img/sponsors/synopsys.svg"/></a>
            <a href="https://www.cero.ai/"><img id="logo-cero" src="/static/img/sponsors/cero.svg"/></a>
        </div>
    </div>
{% endblock %}
