---
layout: base.njk
title: "Patrocinadores"
subtitle: "Agradecemos a nuestros patrocinadores por hacer el CIPC posible"
order: 3
extraCss:
    - "/static/css/patrocinadores.css"
---

<h1>
    Patrocinadores Oro
</h1>

<div class="block">
    <a href="https://www.cl.nttdata.com/"><img id="logo-ntt-data" src="/static/img/sponsors/ntt-data.png"/></a>
    <div>
        NTT DATA es una consultora multinacional de negocios y tecnología que reinventa y transforma la actividad de las organizaciones.
    </div>
</div>

<div class="block">
    <a href="https://www.tcs.com/"><img id="logo-tcs" src="/static/img/sponsors/tcs.png"/></a>
    <div>
        Tata Consultancy Services es una organización de servicios de tecnología de la información, consultoría y soluciones empresariales que ha colaborado con muchas de las empresas más grandes del mundo en los últimos 50 años.
    </div>
</div>

<h1>
    Patrocinadores Plata
</h1>

<div class="block">
    <a href="https://www.nic.cl/"><img id="logo-nic" src="/static/img/sponsors/nic-chile.png"/></a>
    <div>
        NIC Chile, centro perteneciente a la Facultad de Ciencias Físicas y Matemáticas de la Universidad de Chile, es el encargado de la administración del Registro de Nombres de Dominio .CL, que identifica a Chile en la red Internet.
    </div>
</div>

<div class="block">
    <a href="https://www.synopsys.com/"><img id="logo-synopsys" src="/static/img/sponsors/synopsys.svg"/></a>
    <div>
        Synopsys es líder a nivel mundial en desarrollo de software especializado para diseño de chips, verificación, integración de IP y pruebas de calidad. 
    </div>
</div>

<h1>
    Patrocinadores Bronce
</h1>

<div class="block">
    <a href="https://www.cero.ai/"><img id="logo-cero" src="/static/img/sponsors/cero.svg"/></a>
    <div>
        Cero es una plataforma de gestión de pacientes y hospitales que coordina millones de citas médicas cada mes en más de 350 centros médicos y hospitales.
    </div>
</div>