---
layout: base.njk
title: "Preguntas frecuentes"
order: 4
extraCss:
    - "/static/css/faq.css"
---

<details>
    <summary>
        ¿Es un campamento de verdad? ¿Vamos a acampar y programar a la luz de una fogata?
    </summary>
    <div>
        <p>
            ¡No! (aunque no sería mala idea). El campamento es una escuela de invierno entre clases y sesiones prácticas en equipos.
            Típicamente, cada jornada dura todo el día, con clases en la mañana y sesiones prácticas en las tardes.
        </p>
    </div>
</details>
<details>
    <summary>
        ¿La inscripción tiene costo?
    </summary>
    <div>
        <p>
            La inscripción y participación en el campamento son totalmente gratis.
        </p>
    </div>
</details>
<details>
    <summary>
        ¿Hay requisitos mínimos para participar en el campamento?
    </summary>
    <div>
        <p>
            No hay requisitos de entrada, quienes quieran pueden participar. Sin embargo, si quieres sacarle el jugo al campamento,
            debes tener algún dominio en algún lenguaje de programación (como C++, Java, o Python), y conocer algunos conceptos
            básicos de programación (bucles o for-loops, arreglos y listas, recursión, estructuras básicas, algoritmos básicos,
            etc.).
        </p>
        <p>
            Puedes ver nuestro canal de Youtube para aprender desde tópicos esenciales a avanzados y ver algunas de las clases de
            campamentos pasados!
        </p>
    </div>
</details>
<details>
    <summary>
        ¿Qué hay de la alimentación, transporte, y estadía durante el campamento?
    </summary>
    <div>
        <p>
            Quienes participen en el campamento deben hacerse cargo de su supervivencia, incluso del almuerzo durante los días del
            campamento.
        </p>
    </div>
</details>
<details>
    <summary>
        Me inscribí en el formulario, ¿tengo que hacer algo más?
    </summary>
    <div>
        <p>
            No. Te notificaremos tras terminar las inscripciones, confirmando tu inscripción al campamento. Tras esa fecha y hasta
            el inicio del campamento, te enviaremos unos cuantos correos más con más información importante sobre el evento.
        </p>
    </div>
</details>
<details>
    <summary>
        No tengo una o dos personas para armar un equipo, ¿qué hago?
    </summary>
    <div>
        <p>
            Puedes inscribirte de igual manera si no tienes un equipo completo. En el campamento haremos nuestro mejor esfuerzo para
            que todos estén en un equipo. Sin embargo, en el formulario de inscripción indicamos que daremos prioridad a equipos
            completos sólo en caso de que estemos limitados por el espacio.
        </p>
    </div>
</details>
<details>
    <summary>
        Me estoy preparando para la IOI, o deseo triunfar en la OCI (Olimpiada Chilena de Informática), ¿puedo inscribirme en el
        campamento?
    </summary>
    <div>
        <p>
            ¡Por supuesto! Eres igualmente bienvenid@, y esperamos que el campamento te sea de ayuda.
        </p>
    </div>
</details>