<header class="circuits-bg">
    <div id="header-left">
        <button id="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
    <nav role="navigation">
        {%- for navPage in collections.all | sortByOrder %}
            <a class="{% if navPage.url == page.url %}nav-current{% endif %}" href="{{ navPage.url }}">{{ navPage.data.title }}</a>
        {%- endfor %}
    </nav>
    <div id="header-right"></div>
</header>