@import "colors.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;

  font-family: "Montserrat", sans-serif;
  font-size: large;

  color: var(--gray-6);
  background-color: var(--gray-3);
}